<!-- templates/registration/login.html -->
{% load static %}

</form>
<head>

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

</head>

<body
class="login-page" style="min-height: 466px;">
<div class="login-box">

<div class="card card-outline card-primary">
<div class="card-header text-center">
<a href="../../index2.html" class="h1"><b>Login</b></a>

</div>
<div class="card-body">
<p class="login-box-msg">Sign in to start your session</p>
<form method="post">
  {% csrf_token %}
    <div class="input-group mb-3">
    <input type="" class="form-control" placeholder="Login"{{ form.username }}
    <div class="input-group-append">
    </div>
    </div>

    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Password"{{ form.password }}
      <div class="input-group-append">
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Log In</button>
    <p class="mb-0">
    <a href="register.html" class="text-center">Register a new membership</a>
    </p>
</form>
</div>

</div>

</div>

</body>