<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body class="register-page" style="min-height: 570.781px;">
        <div class="card card-outline card-primary">
        <div class="card-header text-center">

        <div class="register-box">
                <div class="register-logo">
                <a href="../../index2.html"><b>User Registration</b></a>
                </div><p></p>


        <form action="../../index.html" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Full name" {{ form.name }}
        </div>

        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" {{ form.username }}
        <div class="input-group-append">
        </div>
        </div>

        <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" {{ form.email }}
        </div>

        <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" {{ form.password1 }}

        </div>
        <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Retype password" {{ form.password2 }}
        </div>

        <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>


    </div>
    </form>


</body>
</html>